<h1>My_portfolio</h1>

<div class='search-area'>  
  <h2><p>Search stocks</p></h2>
    <%= form_tag search_stock_path, method: :get do %>
      <div class='form-group row'>

        <div class='col-sm-9 small-right-padding'>
          <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true, class: 'form-control form-control-lg' %>
        </div>
        <div class='col-sm-3 small-left-padding'>
          <%= button_tag type: :submit, class: "btn btn-danger" do %>
            <%= fa_icon 'search 2x' %>    
          <% end %>
        </div>
      </div>

    <% end %>
    
</div>
<div class="container col-sm-6">
  <%= render 'users/result' %>
</div>

